# Produced by Expo
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Dependencies
node_modules/
.pnp
.pnp.js

# Yarn
yarn-error.log

# Testing
coverage/

# Production
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
